@import "../../styles/variables";

.container {
  height: 100vh;
  background: linear-gradient(to bottom, #669023, #161415, #121212);
  &__header {
    &__top {
      display: flex;
      margin-bottom: 4px;
      flex-direction: column;
      row-gap: 1.5rem;
      & h1 {
        color: $color-white;
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 600;
      }
    }
  }
}
