@import "../../styles/variables";

.container {
  height: 100%;
  display: flex;
  gap: 20px;
  &__sidebar {
    max-height: 100vh;
    height: 100%;
    /* width: 420px; */
    width: 300px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    background-color: $color-bg-dark;
    padding: 8px 5px;
    &__inner {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 4px 5px;
    }
  }
  &__main_content {
    max-height: 100vh;
    height: 100%;
    flex: 1 1 0%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8px;
  }
}

@media (max-width: 992px) {
  .container {
    &__sidebar {
      display: none;
    }
  }
}
