@import "../../styles/variables";

.input {
  padding: 12px 36px;
  display: flex;
  max-width: 100%;
  width: -webkit-fill-available;
  border-radius: 8px;
  background-color: $color-bg-input;
  color: $color-white;
  border: transparent;
  font-size: 0.875rem;
  &:focus {
    box-shadow: 0 0 0 2px #fff;
    outline: none;
  }
}
