@import "../../styles/variables";
@import "../../styles/mixins";

.btn_simple {
  @include btnBaseStyles;
  background-color: transparent;
  border: none;
  color: $color-text-grey;
  @include transition;
  &:hover {
    color: $color-white;
    transform: scale(1.1);
  }
}

.btn_white {
  @include btnBaseStyles;
  background-color: $color-white;
  border: $color-white;
  color: $color-black;
  @include transition;
  &:hover {
    transform: scale(1.1);
  }
}

.btn_green {
  @include btnBaseStyles;
  background-color: $color-green;
  border: $color-green;
  color: $color-black;
  @include transition;
  &:hover {
    transform: scale(1.1);
  }
}

.big_green {
  @include btnBaseStyles;
  margin-top: 10px;
  width: 100%;
  background-color: $color-green;
  border: $color-green;
  color: $color-black;
  @include transition;
  &:hover {
    transform: scale(1.1);
  }
}

.btn_rounded {
  @include btnBaseStyles;
  padding: 15px;
  width: 46px;
  height: 46px;
  background-color: $color-white;
  border: $color-white;
  color: $color-black;
  @include transition;
  &:hover {
    transform: scale(1.1);
  }
}
