@import "../../../../styles/variables";

.container {
  width: auto;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  color: $color-text-grey;
  &__songs {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    &__card {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
