@import "../../../styles/variables";

.container {
  width: auto;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  color: $color-white;
  &__list {
    width: auto;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    &_item {
      width: 100%;
      display: flex;
    }
  }
  &:hover {
    background-color: #282828;
  }
}
