@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  width: -webkit-fill-available;
  width: -moz-available;
  height: 80px;
  padding: 0.5rem 1rem;
  position: fixed;
  bottom: 0;
  background-color: $color-bg-dark;
  @include transition;
}

@media (max-width: 540px) {
  .container {
    position: sticky;
    height: auto;
  }
}
