@import "../../styles/mixins";
@import "../../styles/variables";

.button {
  padding-right: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  @include transition;
  &:hover {
    opacity: 0.75;
  }
}
