.container {
  height: 100vh;
  padding: 0 1.5rem;
  margin-bottom: 1.75rem;
  overflow: hidden;
  overflow-y: auto;
  &__internal {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    &_btn {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
