//COLOR PALETTES
$color-green: #1db954;
$color-white: #ffffff;
$color-black: #191414;
$color-text-grey: #a7a7a7;
$color-bg-base: #121212;
$color-bg-dark: #000000;

//VARIABLES
$container-max-widths: (
  sm: 540px,
  md: 992px,
  lg: 1366px,
  xl: 1440px,
  xxl: 1920px,
);
